# Vector database folder generated locally
data/vector_store/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment / IDE files
.venv/
env/
.env
.DS_Store
